@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
*{
  margin: 0;
  padding:0;
  overscroll-behavior: none;
  box-sizing: border-box;

}

body{
  font-family: 'GFS Didot', serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(133deg, rgba(0,0,0,0.9486169467787114) 10%, rgba(128,128,128,1) 82%);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
